@model ApiInfoDengue.Domain.Relatorio

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Relatorio</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataSolicitacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataSolicitacao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Arbovirose)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Arbovirose)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SemanaInicio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SemanaInicio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SemanaFim)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SemanaFim)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CodigoIBGE)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodigoIBGE)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Municipio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Municipio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Solicitante)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Solicitante.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
